


.zoom{

    transition: transform 0.3s;

}

.zoom:hover{

    transform: scale(1.2);

}


.brightnes{
    transition: filter 0.4s;
}

.brightnes:hover{
    filter: brightness(0.5);
}


.bgImage{

    background-image: url("../img/3.jpg");

/* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}